body {
  margin: 0;
  box-sizing: border-box;
}

form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;
}

form.show {
  display: flex;
}

form input, textarea {
  padding: 10px 20px;
  width: 30vw;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid black;
}

form button {
  font-size: 1.5rem;
  padding: 5px 40px;
  border-radius: 15px;
}

#content {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 20vh 10px;
  box-sizing: border-box;
}

.project-list {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid black;
}

.project-list button {
  padding: 10px 20px;
  border: 0;
  background-color: inherit;
  color: inherit;
  font-size: 24px;
}

.project-list button:hover, .project-menu button:hover, form button:hover {
  background-color:#e6f5ff;
  color: #008ae6;
}

.project-menu {
  position: fixed;
  bottom: 0%;
  width: 100vw;
  background-color: #fff;
  max-height: 15vh;

  padding: 10px 0;

  border-top: 1px solid black;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-menu button {
  font-size: 2.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-menu #add-task {
  grid-column: 2 / 3;
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 3.5rem;
  padding: 0;
  margin: auto;
}

.task-list {
  width: 80vw;
  overflow: auto;
}

#edit-project {
  grid-column: 3 / 3;
  height: 50px;
  width: 50px;
  margin-left: auto;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(-100% - 4rem);
  right: 2.5rem;
  border: 1px solid black;
  background-color: #fff;
  padding: .75rem;
  border-radius: 15px;

  pointer-events: none;

  display: flex;
  flex-direction: column;
  gap: 10px;

  opacity: 0;
}

.dropdown-menu button {
  font-size: 1.2rem;
}

.dropdown-menu.show-dropdown {
  opacity: 1;
  pointer-events: auto;
}

.task {
  display: flex;
  flex-direction: column;
}

.task-content {
  display: flex;
  align-items: center;
}

.complete-task-btn {
  min-height: 30px;
  min-width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  color: #008ae6;
  
  border-radius: 50%;
  border: 2px solid grey;

  margin-right: 1.5rem;
}

.task-complete {
  border: none;
}

.task-setting-container {
  margin-left: auto;

  display: flex;
  flex-direction: column;
  gap: .5rem;

  margin-right: 2rem;
}

.task-setting-container button {
  font-size: 32px;
  border: none;
}

.task-setting-container button:hover {
  background-color: #fff;
  color: #008ae6;
}

.completed-tasks-container {
  margin-top: 2rem;
}
